<h1>What's your name?</h1>


<form action="/shenanigans/new/1" method = "get">

<div>	

		<div>

			<input type= "text" name = "Name" placeholder = "First name if you please">
		</div>

		</div>

	<input type= "submit" name = "Submit Form" value = "Enter">

</div>	
	
	<div>

