<h1>Windy City Shenanigans</h1>

<form action="/shenanigans/new" method = "get">

<h3>Howdy, let's begin!</h3>	


</div>

	<input type= "submit" name = "Submit Form" value = "Commence	">

</div>

</form>

<% #<input type="radio" name="day" value="Friday" checked> Friday
#<input type="radio" name="day" value="Saturday"> Saturday
#<input type="radio" name="day" value="Sunday"> Sunday %>